*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}
.root{
    min-height: 100vh;
    display: flex;
    justify-content: center;

    background-color: #E5E5E5;

    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 18px;

}